# Getting Financial Data - Pandas Datareader

### Introduction:

This time you will get data from a website.


### Step 1. Import the necessary libraries

In [0]:
from pyspark.sql import SparkSession

In [0]:
spark = SparkSession.builder.getOrCreate()

### Step 2. Create your time range (start and end variables). The start date should be 01/01/2015 and the end should today (whatever your today is).

In [0]:
from datetime import datetime
start_date = datetime(2015,1,1)
end_date = datetime(2024,8,21)

### Step 3. Get an API key for one of the APIs that are supported by Pandas Datareader, preferably for AlphaVantage.

If you do not have an API key for any of the supported APIs, it is easiest to get one for [AlphaVantage](https://www.alphavantage.co/support/#api-key). (Note that the API key is shown directly after the signup. You do *not* receive it via e-mail.)

(For a full list of the APIs that are supported by Pandas Datareader, [see here](https://pydata.github.io/pandas-datareader/readers/index.html). As the APIs are provided by third parties, this list may change.)

In [0]:
! pip install pandas-datareader

Requirement already satisfied: pandas-datareader in /local_disk0/.ephemeral_nfs/envs/pythonEnv-dc1db772-f69f-48da-b28f-d9a018979943/lib/python3.9/site-packages (0.10.0)
Requirement already satisfied: pandas>=0.23 in /databricks/python3/lib/python3.9/site-packages (from pandas-datareader) (1.4.2)
Requirement already satisfied: lxml in /local_disk0/.ephemeral_nfs/envs/pythonEnv-dc1db772-f69f-48da-b28f-d9a018979943/lib/python3.9/site-packages (from pandas-datareader) (5.3.0)
Requirement already satisfied: requests>=2.19.0 in /databricks/python3/lib/python3.9/site-packages (from pandas-datareader) (2.27.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /databricks/python3/lib/python3.9/site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: numpy>=1.18.5 in /databricks/python3/lib/python3.9/site-packages (from pandas>=0.23->pandas-datareader) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in /databricks/python3/lib/python3.9/site-packages (from pandas>=0.23->pandas-datareader) (2021.3)
Requirement already satisfied: six>=1.5 in /databricks/python3/lib/python3.9/site-packages (from python-dateutil>=2.8.1->pandas>=0.23->pandas-datareader) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /databricks/python3/lib/python3.9/site-packages (from requests>=2.19.0->pandas-datareader) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /databricks/python3/lib/python3.9/site-packages (from requests>=2.19.0->pandas-datareader) (3.3)
Requirement already satisfied: certifi>=2017.4.17 in /databricks/python3/lib/python3.9/site-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /databricks/python3/lib/python3.9/site-packages (from requests>=2.19.0->pandas-datareader) (1.26.9)
WARNING: You are using pip version 21.2.4; however, version 24.2 is available.
You should consider upgrading via the '/local_disk0/.ephemeral_nfs/envs/pythonEnv-dc1db772-f69f-48da-b28f-d9a018979943/bin/python -m pip install --upgrade pip' command.

In [0]:
import pandas_datareader as pdr

### Step 4. Use Pandas Datarader to read the daily time series for the Apple stock (ticker symbol AAPL) between 01/01/2015 and today, assign it to df_apple and print it.

In [0]:
api_key = "7X51N7F7L0P1L34X"

In [0]:
aapl_df = pdr.data.DataReader("AAPL", "av-daily", start=start_date, end=end_date, api_key=api_key)

In [0]:
aapl_df

,open,high,low,close,volume
2015-01-02,111.39,111.4400,107.3500,109.33,53204626
2015-01-05,108.29,108.6500,105.4100,106.25,64285491
2015-01-06,106.54,107.4300,104.6300,106.26,65797116
2015-01-07,107.20,108.2000,106.6950,107.75,40105934
2015-01-08,109.23,112.1500,108.7000,111.89,59364547
...,...,...,...,...,...
2024-08-14,220.57,223.0300,219.7000,221.72,41960574
2024-08-15,224.60,225.3500,222.7600,224.72,46414013
2024-08-16,223.92,226.8271,223.6501,226.05,44340240
2024-08-19,225.72,225.9900,223.0400,225.89,40687813
2024-08-20,225.77,227.1700,225.4500,226.51,30299033

### Step 5. Add a new column "stock" to the dataframe and add the ticker symbol

In [0]:
aapl_df['stock'] = 'aapl'
aapl_df

,open,high,low,close,volume,stock
2015-01-02,111.39,111.4400,107.3500,109.33,53204626,aapl
2015-01-05,108.29,108.6500,105.4100,106.25,64285491,aapl
2015-01-06,106.54,107.4300,104.6300,106.26,65797116,aapl
2015-01-07,107.20,108.2000,106.6950,107.75,40105934,aapl
2015-01-08,109.23,112.1500,108.7000,111.89,59364547,aapl
...,...,...,...,...,...,...
2024-08-14,220.57,223.0300,219.7000,221.72,41960574,aapl
2024-08-15,224.60,225.3500,222.7600,224.72,46414013,aapl
2024-08-16,223.92,226.8271,223.6501,226.05,44340240,aapl
2024-08-19,225.72,225.9900,223.0400,225.89,40687813,aapl
2024-08-20,225.77,227.1700,225.4500,226.51,30299033,aapl

### Step 6. Repeat the two previous steps for a few other stocks, always creating a new dataframe: Tesla, IBM and Microsoft. (Ticker symbols TSLA, IBM and MSFT.)

In [0]:
tsla_df = pdr.data.DataReader("TSLA", "av-daily", start=start_date, end=end_date, api_key=api_key)
ibm_df = pdr.data.DataReader("IBM", "av-daily", start=start_date, end=end_date, api_key=api_key)
msft_df = pdr.data.DataReader("MSFT", "av-daily", start=start_date, end=end_date, api_key=api_key)

In [0]:
tsla_df['stock'] = 'tsla'
tsla_df

,open,high,low,close,volume,stock
2015-01-02,222.87,223.2500,213.2600,219.310,4764443,tsla
2015-01-05,214.55,216.5000,207.1626,210.090,5368477,tsla
2015-01-06,210.06,214.2000,204.2100,211.280,6261936,tsla
2015-01-07,213.35,214.7800,209.7800,210.950,2968390,tsla
2015-01-08,212.81,213.7999,210.0100,210.615,3442509,tsla
...,...,...,...,...,...,...
2024-08-14,207.39,208.4400,198.7500,201.380,70250014,tsla
2024-08-15,205.02,215.8800,204.8200,214.140,89848530,tsla
2024-08-16,211.15,219.8000,210.8000,216.120,88765122,tsla
2024-08-19,217.07,222.9800,214.0900,222.720,76435222,tsla
2024-08-20,224.88,228.2200,219.5600,221.100,74001182,tsla

In [0]:
ibm_df['stock'] = 'ibm'
ibm_df

,open,high,low,close,volume,stock
2015-01-02,161.31,163.310,161.000,162.06,5525341,ibm
2015-01-05,161.27,161.270,159.190,159.51,4880389,ibm
2015-01-06,159.67,159.960,155.170,156.07,6145670,ibm
2015-01-07,157.20,157.200,154.030,155.05,4701015,ibm
2015-01-08,156.24,159.044,155.550,158.42,4240585,ibm
...,...,...,...,...,...,...
2024-08-14,191.15,193.090,190.730,192.32,1895114,ibm
2024-08-15,193.51,194.250,193.280,193.95,2471985,ibm
2024-08-16,193.58,194.350,192.860,193.78,2494472,ibm
2024-08-19,193.84,195.525,193.715,194.73,2361378,ibm
2024-08-20,194.59,196.210,193.750,196.03,1790371,ibm

In [0]:
msft_df['stock'] = 'msft'
msft_df

,open,high,low,close,volume,stock
2015-01-02,46.66,47.4200,46.5400,46.760,27913852,msft
2015-01-05,46.37,46.7300,46.2500,46.325,39673865,msft
2015-01-06,46.38,46.7490,45.5400,45.650,36447854,msft
2015-01-07,45.98,46.4600,45.4900,46.230,29114061,msft
2015-01-08,46.75,47.7499,46.7200,47.590,29645202,msft
...,...,...,...,...,...,...
2024-08-14,414.80,417.7200,412.4456,416.860,18266980,msft
2024-08-15,419.80,421.1100,417.6600,421.030,20752144,msft
2024-08-16,420.60,421.3400,417.3000,418.470,22775593,msft
2024-08-19,418.96,421.7500,416.4600,421.530,15233957,msft
2024-08-20,421.70,425.8600,421.6400,424.800,16387581,msft

### Step 7. Combine the four separate dataFrames into one combined dataFrame df that holds the information for all four stocks

In [0]:
import pandas as pd

stocks_df = pd.concat([aapl_df, tsla_df, ibm_df, msft_df])

In [0]:
stocks_df

,open,high,low,close,volume,stock
2015-01-02,111.39,111.44,107.3500,109.33,53204626,aapl
2015-01-05,108.29,108.65,105.4100,106.25,64285491,aapl
2015-01-06,106.54,107.43,104.6300,106.26,65797116,aapl
2015-01-07,107.20,108.20,106.6950,107.75,40105934,aapl
2015-01-08,109.23,112.15,108.7000,111.89,59364547,aapl
...,...,...,...,...,...,...
2024-08-14,414.80,417.72,412.4456,416.86,18266980,msft
2024-08-15,419.80,421.11,417.6600,421.03,20752144,msft
2024-08-16,420.60,421.34,417.3000,418.47,22775593,msft
2024-08-19,418.96,421.75,416.4600,421.53,15233957,msft
2024-08-20,421.70,425.86,421.6400,424.80,16387581,msft

### Step 8. Shift the stock column into the index (making it a multi-level index consisting of the ticker symbol and the date).

In [0]:
stocks_df.sort_index(inplace=True)
stocks_df

,open,high,low,close,volume,stock
2015-01-02,111.39,111.44,107.3500,109.33,53204626,aapl
2015-01-02,222.87,223.25,213.2600,219.31,4764443,tsla
2015-01-02,46.66,47.42,46.5400,46.76,27913852,msft
2015-01-02,161.31,163.31,161.0000,162.06,5525341,ibm
2015-01-05,214.55,216.50,207.1626,210.09,5368477,tsla
...,...,...,...,...,...,...
2024-08-19,225.72,225.99,223.0400,225.89,40687813,aapl
2024-08-20,224.88,228.22,219.5600,221.10,74001182,tsla
2024-08-20,225.77,227.17,225.4500,226.51,30299033,aapl
2024-08-20,194.59,196.21,193.7500,196.03,1790371,ibm
2024-08-20,421.70,425.86,421.6400,424.80,16387581,msft

In [0]:
stocks_df.set_index("stock", append=True, inplace=True)
stocks_df

### Step 7. Create a dataFrame called vol, with the volume values.

In [0]:
vol = stocks_df['volume']
vol

Out[44]:             stock
2015-01-02  aapl     53204626
            tsla      4764443
            msft     27913852
            ibm       5525341
2015-01-05  tsla      5368477
                       ...
2024-08-19  aapl     40687813
2024-08-20  tsla     74001182
            aapl     30299033
            ibm       1790371
            msft     16387581
Name: volume, Length: 9696, dtype: int64

### Step 8. Aggregate the data of volume to weekly.
Hint: Be careful to not sum data from the same week of 2015 and other years.

In [0]:
stocks_df.reset_index(inplace=True)
stocks_df.rename(columns={'level_0': 'date'}, inplace=True)
stocks_df['date'] = pd.to_datetime(stocks_df['date'])
stocks_df

,date,stock,open,high,low,close,volume
0,2015-01-02,aapl,111.39,111.44,107.35,109.33,53204626
1,2015-01-02,ibm,161.31,163.31,161.00,162.06,5525341
2,2015-01-02,msft,46.66,47.42,46.54,46.76,27913852
3,2015-01-02,tsla,222.87,223.25,213.26,219.31,4764443
4,2015-01-05,aapl,108.29,108.65,105.41,106.25,64285491
...,...,...,...,...,...,...,...
9691,2024-08-19,tsla,217.07,222.98,214.09,222.72,76435222
9692,2024-08-20,aapl,225.77,227.17,225.45,226.51,30299033
9693,2024-08-20,ibm,194.59,196.21,193.75,196.03,1790371
9694,2024-08-20,msft,421.70,425.86,421.64,424.80,16387581
9695,2024-08-20,tsla,224.88,228.22,219.56,221.10,74001182

In [0]:
stocks_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9696 entries, 0 to 9695
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    9696 non-null   datetime64[ns]
 1   stock   9696 non-null   object
 2   open    9696 non-null   float64
 3   high    9696 non-null   float64
 4   low     9696 non-null   float64
 5   close   9696 non-null   float64
 6   volume  9696 non-null   int64
dtypes: datetime64[ns](1), float64(4), int64(1), object(1)
memory usage: 530.4+ KB

In [0]:
stocks_df['year'] = stocks_df['date'].dt.year
stocks_df['week'] = stocks_df['date'].dt.isocalendar().week
stocks_df['month'] = stocks_df['date'].dt.month
weekly_volume = stocks_df.groupby(['stock', 'year', 'month', 'week'])['volume'].sum()
weekly_volume

Out[51]: stock  year  month  week
aapl   2015  1      1        53204626
                    2       282868187
                    3       304226647
                    4       198737041
                    5       465842684
                              ...
tsla   2024  7      31      297259134
             8      31      166742018
                    32      368934704
                    33      389155956
                    34      150436404
Name: volume, Length: 2272, dtype: int64

### Step 9. Find all the volume traded in the year of 2015

In [0]:
stocks_df[stocks_df['year'] == 2015]['volume']

Out[52]: 0       53204626
1        5525341
2       27913852
3        4764443
4       64285491
          ...
1003     3697921
1004    40912316
1005     3462037
1006    27334061
1007     2715038
Name: volume, Length: 1008, dtype: int64