# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
! sudo apt update
! apt-get install openjdk-8-jdk-headless -qq > /dev/null
# Check this site for the latest download link https://www.apache.org/dyn/closer.lua/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
! wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
! tar xf spark-3.2.1-bin-hadoop3.2.tgz
! pip install -q findspark
! pip install pyspark
! pip install py4j

import os
import sys
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"


import findspark
findspark.init()
findspark.find()

import pyspark

from pyspark.sql import DataFrame, SparkSession
from typing import List

import pyspark.sql.types as T
import pyspark.sql.functions as F

spark= SparkSession \
       .builder \
       .appName("Our First Spark Example") \
       .getOrCreate()

spark

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Hit:3 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:4 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Ign:6 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Get:7 https://r2u.stat.illinois.edu/ubuntu jammy Release [5,713 B]
Get:8 https://r2u.stat.illinois.edu/ubuntu jammy Release.gpg [793 B]
Hit:9 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Get:10 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [2,173 kB]
Get:11 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,227 kB]
Get:12 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,423 kB]
Get:13 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,134 kB]
Get:14 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease [18.1 kB]
Get:15 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,449 kB]
Hit:16 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:17 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,556 kB]
Hit:18 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:19 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 Packages [27.8 kB]
Fetched 18.3 MB in 2s (7,407 kB/s)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
49 packages can be upgraded. Run 'apt list --upgradable' to see them.
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
tar: spark-3.2.1-bin-hadoop3.2.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now
Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=c18538ef7fecaa33ac117bcdcca0cf2d2982847b228684b89e1871d9e9f985c7
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [2]:
cars1 = spark.read.csv("cars1.csv", header=True, inferSchema=True)
cars2 = spark.read.csv("cars2.csv", header=True, inferSchema=True)

In [3]:
cars1.show()

+----+---------+------------+----------+------+------------+-----+------+--------------------+----+----+----+----+----+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model|origin|                 car| _c9|_c10|_c11|_c12|_c13|
+----+---------+------------+----------+------+------------+-----+------+--------------------+----+----+----+----+----+
|18.0|        8|         307|       130|  3504|        12.0|   70|     1|chevrolet chevell...|NULL|NULL|NULL|NULL|NULL|
|15.0|        8|         350|       165|  3693|        11.5|   70|     1|   buick skylark 320|NULL|NULL|NULL|NULL|NULL|
|18.0|        8|         318|       150|  3436|        11.0|   70|     1|  plymouth satellite|NULL|NULL|NULL|NULL|NULL|
|16.0|        8|         304|       150|  3433|        12.0|   70|     1|       amc rebel sst|NULL|NULL|NULL|NULL|NULL|
|17.0|        8|         302|       140|  3449|        10.5|   70|     1|         ford torino|NULL|NULL|NULL|NULL|NULL|
|15.0|        8|         429|       198|  4341|        10.0|   70|     1|    ford galaxie 500|NULL|NULL|NULL|NULL|NULL|
|14.0|        8|         454|       220|  4354|         9.0|   70|     1|    chevrolet impala|NULL|NULL|NULL|NULL|NULL|
|14.0|        8|         440|       215|  4312|         8.5|   70|     1|   plymouth fury iii|NULL|NULL|NULL|NULL|NULL|
|14.0|        8|         455|       225|  4425|        10.0|   70|     1|    pontiac catalina|NULL|NULL|NULL|NULL|NULL|
|15.0|        8|         390|       190|  3850|         8.5|   70|     1|  amc ambassador dpl|NULL|NULL|NULL|NULL|NULL|
|15.0|        8|         383|       170|  3563|        10.0|   70|     1| dodge challenger se|NULL|NULL|NULL|NULL|NULL|
|14.0|        8|         340|       160|  3609|         8.0|   70|     1|  plymouth 'cuda 340|NULL|NULL|NULL|NULL|NULL|
|15.0|        8|         400|       150|  3761|         9.5|   70|     1|chevrolet monte c...|NULL|NULL|NULL|NULL|NULL|
|14.0|        8|         455|       225|  3086|        10.0|   70|     1|buick estate wago...|NULL|NULL|NULL|NULL|NULL|
|24.0|        4|         113|        95|  2372|        15.0|   70|     3|toyota corona mar...|NULL|NULL|NULL|NULL|NULL|
|22.0|        6|         198|        95|  2833|        15.5|   70|     1|     plymouth duster|NULL|NULL|NULL|NULL|NULL|
|18.0|        6|         199|        97|  2774|        15.5|   70|     1|          amc hornet|NULL|NULL|NULL|NULL|NULL|
|21.0|        6|         200|        85|  2587|        16.0|   70|     1|       ford maverick|NULL|NULL|NULL|NULL|NULL|
|27.0|        4|          97|        88|  2130|        14.5|   70|     3|        datsun pl510|NULL|NULL|NULL|NULL|NULL|
|26.0|        4|          97|        46|  1835|        20.5|   70|     2|volkswagen 1131 d...|NULL|NULL|NULL|NULL|NULL|
+----+---------+------------+----------+------+------------+-----+------+--------------------+----+----+----+----+----+
only showing top 20 rows

In [4]:
cars2.show()

+----+---------+------------+----------+------+------------+-----+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model|origin|                 car|
+----+---------+------------+----------+------+------------+-----+------+--------------------+
|33.0|        4|          91|        53|  1795|        17.4|   76|     3|         honda civic|
|20.0|        6|         225|       100|  3651|        17.7|   76|     1|      dodge aspen se|
|18.0|        6|         250|        78|  3574|        21.0|   76|     1|   ford granada ghia|
|18.5|        6|         250|       110|  3645|        16.2|   76|     1|  pontiac ventura sj|
|17.5|        6|         258|        95|  3193|        17.8|   76|     1|       amc pacer d/l|
|29.5|        4|          97|        71|  1825|        12.2|   76|     2|   volkswagen rabbit|
|32.0|        4|          85|        70|  1990|        17.0|   76|     3|        datsun b-210|
|28.0|        4|          97|        75|  2155|        16.4|   76|     3|      toyota corolla|
|26.5|        4|         140|        72|  2565|        13.6|   76|     1|          ford pinto|
|20.0|        4|         130|       102|  3150|        15.7|   76|     2|           volvo 245|
|13.0|        8|         318|       150|  3940|        13.2|   76|     1|plymouth volare p...|
|19.0|        4|         120|        88|  3270|        21.9|   76|     2|         peugeot 504|
|19.0|        6|         156|       108|  2930|        15.5|   76|     3|      toyota mark ii|
|16.5|        6|         168|       120|  3820|        16.7|   76|     2|  mercedes-benz 280s|
|16.5|        8|         350|       180|  4380|        12.1|   76|     1|    cadillac seville|
|13.0|        8|         350|       145|  4055|        12.0|   76|     1|           chevy c10|
|13.0|        8|         302|       130|  3870|        15.0|   76|     1|           ford f108|
|13.0|        8|         318|       150|  3755|        14.0|   76|     1|          dodge d100|
|31.5|        4|          98|        68|  2045|        18.5|   77|     3|   honda accord cvcc|
|30.0|        4|         111|        80|  2155|        14.8|   77|     1|buick opel isuzu ...|
+----+---------+------------+----------+------+------------+-----+------+--------------------+
only showing top 20 rows

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [8]:

cars1 = cars1.drop('_c9','_c10','_c11','_c12','_c13')
cars1.show()

+----+---------+------------+----------+------+------------+-----+------+--------------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model|origin|                 car|
+----+---------+------------+----------+------+------------+-----+------+--------------------+
|18.0|        8|         307|       130|  3504|        12.0|   70|     1|chevrolet chevell...|
|15.0|        8|         350|       165|  3693|        11.5|   70|     1|   buick skylark 320|
|18.0|        8|         318|       150|  3436|        11.0|   70|     1|  plymouth satellite|
|16.0|        8|         304|       150|  3433|        12.0|   70|     1|       amc rebel sst|
|17.0|        8|         302|       140|  3449|        10.5|   70|     1|         ford torino|
|15.0|        8|         429|       198|  4341|        10.0|   70|     1|    ford galaxie 500|
|14.0|        8|         454|       220|  4354|         9.0|   70|     1|    chevrolet impala|
|14.0|        8|         440|       215|  4312|         8.5|   70|     1|   plymouth fury iii|
|14.0|        8|         455|       225|  4425|        10.0|   70|     1|    pontiac catalina|
|15.0|        8|         390|       190|  3850|         8.5|   70|     1|  amc ambassador dpl|
|15.0|        8|         383|       170|  3563|        10.0|   70|     1| dodge challenger se|
|14.0|        8|         340|       160|  3609|         8.0|   70|     1|  plymouth 'cuda 340|
|15.0|        8|         400|       150|  3761|         9.5|   70|     1|chevrolet monte c...|
|14.0|        8|         455|       225|  3086|        10.0|   70|     1|buick estate wago...|
|24.0|        4|         113|        95|  2372|        15.0|   70|     3|toyota corona mar...|
|22.0|        6|         198|        95|  2833|        15.5|   70|     1|     plymouth duster|
|18.0|        6|         199|        97|  2774|        15.5|   70|     1|          amc hornet|
|21.0|        6|         200|        85|  2587|        16.0|   70|     1|       ford maverick|
|27.0|        4|          97|        88|  2130|        14.5|   70|     3|        datsun pl510|
|26.0|        4|          97|        46|  1835|        20.5|   70|     2|volkswagen 1131 d...|
+----+---------+------------+----------+------+------------+-----+------+--------------------+
only showing top 20 rows

### Step 5. What is the number of observations in each dataset?

In [9]:
cars1.count()

198

In [11]:
cars2.count()

200

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [12]:
cars1.join(cars2, on='mpg').show()

+----+---------+------------+----------+------+------------+-----+------+--------------------+---------+------------+----------+------+------------+-----+------+-----------------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model|origin|                 car|cylinders|displacement|horsepower|weight|acceleration|model|origin|              car|
+----+---------+------------+----------+------+------------+-----+------+--------------------+---------+------------+----------+------+------------+-----+------+-----------------+
|33.0|        4|          91|        53|  1795|        17.5|   75|     3|    honda civic cvcc|        4|          91|        53|  1795|        17.4|   76|     3|      honda civic|
|20.0|        6|         232|       100|  2914|        16.0|   75|     1|         amc gremlin|        6|         225|       100|  3651|        17.7|   76|     1|   dodge aspen se|
|20.0|        8|         262|       110|  3221|        13.5|   75|     1| chevrolet monza 2+2|        6|         225|       100|  3651|        17.7|   76|     1|   dodge aspen se|
|20.0|        6|         198|        95|  3102|        16.5|   74|     1|     plymouth duster|        6|         225|       100|  3651|        17.7|   76|     1|   dodge aspen se|
|20.0|        6|         156|       122|  2807|        13.5|   73|     3|      toyota mark ii|        6|         225|       100|  3651|        17.7|   76|     1|   dodge aspen se|
|20.0|        4|         114|        91|  2582|        14.0|   73|     2|          audi 100ls|        6|         225|       100|  3651|        17.7|   76|     1|   dodge aspen se|
|20.0|        4|          97|        88|  2279|        19.0|   73|     3|       toyota carina|        6|         225|       100|  3651|        17.7|   76|     1|   dodge aspen se|
|20.0|        4|         140|        90|  2408|        19.5|   72|     1|      chevrolet vega|        6|         225|       100|  3651|        17.7|   76|     1|   dodge aspen se|
|18.0|        6|         171|        97|  2984|        14.5|   75|     1|          ford pinto|        6|         250|        78|  3574|        21.0|   76|     1|ford granada ghia|
|18.0|        6|         225|        95|  3785|        19.0|   75|     1|       plymouth fury|        6|         250|        78|  3574|        21.0|   76|     1|ford granada ghia|
|18.0|        6|         250|       105|  3459|        16.0|   75|     1|      chevrolet nova|        6|         250|        78|  3574|        21.0|   76|     1|ford granada ghia|
|18.0|        6|         225|       105|  3613|        16.5|   74|     1|plymouth satellit...|        6|         250|        78|  3574|        21.0|   76|     1|ford granada ghia|
|18.0|        3|          70|        90|  2124|        13.5|   73|     3|           maxda rx3|        6|         250|        78|  3574|        21.0|   76|     1|ford granada ghia|
|18.0|        6|         232|       100|  2789|        15.0|   73|     1|         amc gremlin|        6|         250|        78|  3574|        21.0|   76|     1|ford granada ghia|
|18.0|        6|         250|        88|  3021|        16.5|   73|     1|       ford maverick|        6|         250|        78|  3574|        21.0|   76|     1|ford granada ghia|
|18.0|        6|         232|       100|  2945|        16.0|   73|     1|          amc hornet|        6|         250|        78|  3574|        21.0|   76|     1|ford granada ghia|
|18.0|        6|         225|       105|  3121|        16.5|   73|     1|    plymouth valiant|        6|         250|        78|  3574|        21.0|   76|     1|ford granada ghia|
|18.0|        4|         121|       112|  2933|        14.5|   72|     2|     volvo 145e (sw)|        6|         250|        78|  3574|        21.0|   76|     1|ford granada ghia|
|18.0|        6|         250|        88|  3139|        14.5|   71|     1|        ford mustang|        6|         250|        78|  3574|        21.0|   76|     1|ford granada ghia|
|18.0|        6|         258|       110|  2962|        13.5|   71|     1|amc hornet sporta...|        6|         250|        78|  3574|        21.0|   76|     1|ford granada ghia|
+----+---------+------------+----------+------+------------+-----+------+--------------------+---------+------------+----------+------+------------+-----+------+-----------------+
only showing top 20 rows

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [13]:
cars1 = cars1.withColumn('owners', F.floor(F.rand() * (73000 - 15000 + 1)) + 15000)
cars1.show()
cars1.printSchema()

+----+---------+------------+----------+------+------------+-----+------+--------------------+------+
| mpg|cylinders|displacement|horsepower|weight|acceleration|model|origin|                 car|owners|
+----+---------+------------+----------+------+------------+-----+------+--------------------+------+
|18.0|        8|         307|       130|  3504|        12.0|   70|     1|chevrolet chevell...| 65290|
|15.0|        8|         350|       165|  3693|        11.5|   70|     1|   buick skylark 320| 44675|
|18.0|        8|         318|       150|  3436|        11.0|   70|     1|  plymouth satellite| 53556|
|16.0|        8|         304|       150|  3433|        12.0|   70|     1|       amc rebel sst| 29219|
|17.0|        8|         302|       140|  3449|        10.5|   70|     1|         ford torino| 50562|
|15.0|        8|         429|       198|  4341|        10.0|   70|     1|    ford galaxie 500| 46259|
|14.0|        8|         454|       220|  4354|         9.0|   70|     1|    chevrolet impala| 62566|
|14.0|        8|         440|       215|  4312|         8.5|   70|     1|   plymouth fury iii| 22611|
|14.0|        8|         455|       225|  4425|        10.0|   70|     1|    pontiac catalina| 66870|
|15.0|        8|         390|       190|  3850|         8.5|   70|     1|  amc ambassador dpl| 24586|
|15.0|        8|         383|       170|  3563|        10.0|   70|     1| dodge challenger se| 36505|
|14.0|        8|         340|       160|  3609|         8.0|   70|     1|  plymouth 'cuda 340| 67045|
|15.0|        8|         400|       150|  3761|         9.5|   70|     1|chevrolet monte c...| 28745|
|14.0|        8|         455|       225|  3086|        10.0|   70|     1|buick estate wago...| 54771|
|24.0|        4|         113|        95|  2372|        15.0|   70|     3|toyota corona mar...| 66997|
|22.0|        6|         198|        95|  2833|        15.5|   70|     1|     plymouth duster| 32307|
|18.0|        6|         199|        97|  2774|        15.5|   70|     1|          amc hornet| 30967|
|21.0|        6|         200|        85|  2587|        16.0|   70|     1|       ford maverick| 45009|
|27.0|        4|          97|        88|  2130|        14.5|   70|     3|        datsun pl510| 55190|
|26.0|        4|          97|        46|  1835|        20.5|   70|     2|volkswagen 1131 d...| 22607|
+----+---------+------------+----------+------+------------+-----+------+--------------------+------+
only showing top 20 rows

root
 |-- mpg: double (nullable = true)
 |-- cylinders: integer (nullable = true)
 |-- displacement: integer (nullable = true)
 |-- horsepower: string (nullable = true)
 |-- weight: integer (nullable = true)
 |-- acceleration: double (nullable = true)
 |-- model: integer (nullable = true)
 |-- origin: integer (nullable = true)
 |-- car: string (nullable = true)
 |-- owners: long (nullable = true)