# United States - Crime Rates - 1960 - 2014

### Introduction:

This time you will create a data

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
! sudo apt update
! apt-get install openjdk-8-jdk-headless -qq > /dev/null
# Check this site for the latest download link https://www.apache.org/dyn/closer.lua/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
! wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
! tar xf spark-3.2.1-bin-hadoop3.2.tgz
! pip install -q findspark
! pip install pyspark
! pip install py4j

import os
import sys
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"


import findspark
findspark.init()
findspark.find()

import pyspark

from pyspark.sql import DataFrame, SparkSession
from typing import List

import pyspark.sql.types as T
import pyspark.sql.functions as F

spark= SparkSession \
       .builder \
       .appName("Our First Spark Example") \
       .getOrCreate()

spark

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Ign:5 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Get:6 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Get:7 https://r2u.stat.illinois.edu/ubuntu jammy Release [5,713 B]
Get:8 https://r2u.stat.illinois.edu/ubuntu jammy Release.gpg [793 B]
Hit:9 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Get:10 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,556 kB]
Get:11 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease [18.1 kB]
Get:12 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [2,173 kB]
Hit:13 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Get:14 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,449 kB]
Hit:15 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Get:16 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,227 kB]
Get:17 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,134 kB]
Get:18 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 Packages [27.8 kB]
Get:19 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,423 kB]
Fetched 18.3 MB in 2s (7,479 kB/s)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
49 packages can be upgraded. Run 'apt list --upgradable' to see them.
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
tar: spark-3.2.1-bin-hadoop3.2.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now
Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=953e6c16b64f600148deb5391a398f4310dff68c1a08c4694f678296c9c18cb5
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/US_Crime_Rates/US_Crime_Rates_1960_2014.csv).

In [2]:
df = spark.read.csv('US_Crime_Rates_1960_2014.csv', header=True, inferSchema=True)
df.show()

+----+----------+--------+-------+--------+------+-------------+-------+------------------+--------+-------------+-------------+
|Year|Population|   Total|Violent|Property|Murder|Forcible_Rape|Robbery|Aggravated_assault|Burglary|Larceny_Theft|Vehicle_Theft|
+----+----------+--------+-------+--------+------+-------------+-------+------------------+--------+-------------+-------------+
|1960| 179323175| 3384200| 288460| 3095700|  9110|        17190| 107840|            154320|  912100|      1855400|       328200|
|1961| 182992000| 3488000| 289390| 3198600|  8740|        17220| 106670|            156760|  949600|      1913000|       336000|
|1962| 185771000| 3752200| 301510| 3450700|  8530|        17550| 110860|            164570|  994300|      2089600|       366800|
|1963| 188483000| 4109500| 316970| 3792500|  8640|        17650| 116470|            174210| 1086400|      2297800|       408300|
|1964| 191141000| 4564600| 364220| 4200400|  9360|        21420| 130390|            203050| 1213200|      2514400|       472800|
|1965| 193526000| 4739400| 387390| 4352000|  9960|        23410| 138690|            215330| 1282500|      2572600|       496900|
|1966| 195576000| 5223500| 430180| 4793300| 11040|        25820| 157990|            235330| 1410100|      2822000|       561200|
|1967| 197457000| 5903400| 499930| 5403500| 12240|        27620| 202910|            257160| 1632100|      3111600|       659800|
|1968| 199399000| 6720200| 595010| 6125200| 13800|        31670| 262840|            286700| 1858900|      3482700|       783600|
|1969| 201385000| 7410900| 661870| 6749000| 14760|        37170| 298850|            311090| 1981900|      3888600|       878500|
|1970| 203235298| 8098000| 738820| 7359200| 16000|        37990| 349860|            334970| 2205000|      4225800|       928400|
|1971| 206212000| 8588200| 816500| 7771700| 17780|        42260| 387700|            368760| 2399300|      4424200|       948200|
|1972| 208230000| 8248800| 834900| 7413900| 18670|        46850| 376290|            393090| 2375500|      4151200|       887200|
|1973| 209851000| 8718100| 875910| 7842200| 19640|        51400| 384220|            420650| 2565500|      4347900|       928800|
|1974| 211392000|10253400| 974720| 9278700| 20710|        55400| 442400|            456210| 3039200|      5262500|       977100|
|1975| 213124000|11292400|1039710|10252700| 20510|        56090| 470500|            492620| 3265300|      5977700|      1009600|
|1976| 214659000|11349700|1004210|10345500| 18780|        57080| 427810|            500530| 3108700|      6270800|       966000|
|1977| 216332000|10984500|1029580| 9955000| 19120|        63500| 412610|            534350| 3071500|      5905700|       977700|
|1978| 218059000|11209000|1085550|10123400| 19560|        67610| 426930|            571460| 3128300|      5991000|      1004100|
|1979| 220099000|12249500|1208030|11041500| 21460|        76390| 480700|            629480| 3327700|      6601000|      1112800|
+----+----------+--------+-------+--------+------+-------------+-------+------------------+--------+-------------+-------------+
only showing top 20 rows

### Step 4. What is the type of the columns?

In [3]:
df.printSchema()

root
 |-- Year: integer (nullable = true)
 |-- Population: integer (nullable = true)
 |-- Total: integer (nullable = true)
 |-- Violent: integer (nullable = true)
 |-- Property: integer (nullable = true)
 |-- Murder: integer (nullable = true)
 |-- Forcible_Rape: integer (nullable = true)
 |-- Robbery: integer (nullable = true)
 |-- Aggravated_assault: integer (nullable = true)
 |-- Burglary: integer (nullable = true)
 |-- Larceny_Theft: integer (nullable = true)
 |-- Vehicle_Theft: integer (nullable = true)

##### Have you noticed that the type of Year is int64. But pandas has a different type to work with Time Series. Let's see it now.

### Step 5. Convert the type of the column Year to datetime64

In [4]:
df.select(F.col('Year')).show()

+----+
|Year|
+----+
|1960|
|1961|
|1962|
|1963|
|1964|
|1965|
|1966|
|1967|
|1968|
|1969|
|1970|
|1971|
|1972|
|1973|
|1974|
|1975|
|1976|
|1977|
|1978|
|1979|
+----+
only showing top 20 rows

### Step 6. Set the Year column as the index of the dataframe

### Step 7. Delete the Total column

In [5]:
df.drop('Total').show()

+----+----------+-------+--------+------+-------------+-------+------------------+--------+-------------+-------------+
|Year|Population|Violent|Property|Murder|Forcible_Rape|Robbery|Aggravated_assault|Burglary|Larceny_Theft|Vehicle_Theft|
+----+----------+-------+--------+------+-------------+-------+------------------+--------+-------------+-------------+
|1960| 179323175| 288460| 3095700|  9110|        17190| 107840|            154320|  912100|      1855400|       328200|
|1961| 182992000| 289390| 3198600|  8740|        17220| 106670|            156760|  949600|      1913000|       336000|
|1962| 185771000| 301510| 3450700|  8530|        17550| 110860|            164570|  994300|      2089600|       366800|
|1963| 188483000| 316970| 3792500|  8640|        17650| 116470|            174210| 1086400|      2297800|       408300|
|1964| 191141000| 364220| 4200400|  9360|        21420| 130390|            203050| 1213200|      2514400|       472800|
|1965| 193526000| 387390| 4352000|  9960|        23410| 138690|            215330| 1282500|      2572600|       496900|
|1966| 195576000| 430180| 4793300| 11040|        25820| 157990|            235330| 1410100|      2822000|       561200|
|1967| 197457000| 499930| 5403500| 12240|        27620| 202910|            257160| 1632100|      3111600|       659800|
|1968| 199399000| 595010| 6125200| 13800|        31670| 262840|            286700| 1858900|      3482700|       783600|
|1969| 201385000| 661870| 6749000| 14760|        37170| 298850|            311090| 1981900|      3888600|       878500|
|1970| 203235298| 738820| 7359200| 16000|        37990| 349860|            334970| 2205000|      4225800|       928400|
|1971| 206212000| 816500| 7771700| 17780|        42260| 387700|            368760| 2399300|      4424200|       948200|
|1972| 208230000| 834900| 7413900| 18670|        46850| 376290|            393090| 2375500|      4151200|       887200|
|1973| 209851000| 875910| 7842200| 19640|        51400| 384220|            420650| 2565500|      4347900|       928800|
|1974| 211392000| 974720| 9278700| 20710|        55400| 442400|            456210| 3039200|      5262500|       977100|
|1975| 213124000|1039710|10252700| 20510|        56090| 470500|            492620| 3265300|      5977700|      1009600|
|1976| 214659000|1004210|10345500| 18780|        57080| 427810|            500530| 3108700|      6270800|       966000|
|1977| 216332000|1029580| 9955000| 19120|        63500| 412610|            534350| 3071500|      5905700|       977700|
|1978| 218059000|1085550|10123400| 19560|        67610| 426930|            571460| 3128300|      5991000|      1004100|
|1979| 220099000|1208030|11041500| 21460|        76390| 480700|            629480| 3327700|      6601000|      1112800|
+----+----------+-------+--------+------+-------------+-------+------------------+--------+-------------+-------------+
only showing top 20 rows

In [9]:
from pyspark.sql.functions import udf
from pyspark.sql.types import IntegerType

def decade(year):
  return (year // 10) * 10

decade_udf = udf(decade, IntegerType())

df_with_decade = df.withColumn("Decade", decade_udf(df['Year']))
df_with_decade.show()

+----+----------+--------+-------+--------+------+-------------+-------+------------------+--------+-------------+-------------+------+
|Year|Population|   Total|Violent|Property|Murder|Forcible_Rape|Robbery|Aggravated_assault|Burglary|Larceny_Theft|Vehicle_Theft|Decade|
+----+----------+--------+-------+--------+------+-------------+-------+------------------+--------+-------------+-------------+------+
|1960| 179323175| 3384200| 288460| 3095700|  9110|        17190| 107840|            154320|  912100|      1855400|       328200|  1960|
|1961| 182992000| 3488000| 289390| 3198600|  8740|        17220| 106670|            156760|  949600|      1913000|       336000|  1960|
|1962| 185771000| 3752200| 301510| 3450700|  8530|        17550| 110860|            164570|  994300|      2089600|       366800|  1960|
|1963| 188483000| 4109500| 316970| 3792500|  8640|        17650| 116470|            174210| 1086400|      2297800|       408300|  1960|
|1964| 191141000| 4564600| 364220| 4200400|  9360|        21420| 130390|            203050| 1213200|      2514400|       472800|  1960|
|1965| 193526000| 4739400| 387390| 4352000|  9960|        23410| 138690|            215330| 1282500|      2572600|       496900|  1960|
|1966| 195576000| 5223500| 430180| 4793300| 11040|        25820| 157990|            235330| 1410100|      2822000|       561200|  1960|
|1967| 197457000| 5903400| 499930| 5403500| 12240|        27620| 202910|            257160| 1632100|      3111600|       659800|  1960|
|1968| 199399000| 6720200| 595010| 6125200| 13800|        31670| 262840|            286700| 1858900|      3482700|       783600|  1960|
|1969| 201385000| 7410900| 661870| 6749000| 14760|        37170| 298850|            311090| 1981900|      3888600|       878500|  1960|
|1970| 203235298| 8098000| 738820| 7359200| 16000|        37990| 349860|            334970| 2205000|      4225800|       928400|  1970|
|1971| 206212000| 8588200| 816500| 7771700| 17780|        42260| 387700|            368760| 2399300|      4424200|       948200|  1970|
|1972| 208230000| 8248800| 834900| 7413900| 18670|        46850| 376290|            393090| 2375500|      4151200|       887200|  1970|
|1973| 209851000| 8718100| 875910| 7842200| 19640|        51400| 384220|            420650| 2565500|      4347900|       928800|  1970|
|1974| 211392000|10253400| 974720| 9278700| 20710|        55400| 442400|            456210| 3039200|      5262500|       977100|  1970|
|1975| 213124000|11292400|1039710|10252700| 20510|        56090| 470500|            492620| 3265300|      5977700|      1009600|  1970|
|1976| 214659000|11349700|1004210|10345500| 18780|        57080| 427810|            500530| 3108700|      6270800|       966000|  1970|
|1977| 216332000|10984500|1029580| 9955000| 19120|        63500| 412610|            534350| 3071500|      5905700|       977700|  1970|
|1978| 218059000|11209000|1085550|10123400| 19560|        67610| 426930|            571460| 3128300|      5991000|      1004100|  1970|
|1979| 220099000|12249500|1208030|11041500| 21460|        76390| 480700|            629480| 3327700|      6601000|      1112800|  1970|
+----+----------+--------+-------+--------+------+-------------+-------+------------------+--------+-------------+-------------+------+
only showing top 20 rows

### Step 8. Group the year by decades and sum the values

#### Pay attention to the Population column number, summing this column is a mistake

In [11]:
decade_summary = df_with_decade.groupBy("Decade").agg(
    F.sum("Violent").alias("Total_Violent"),
    F.sum("Property").alias("Total_Property"),
    F.sum("Murder").alias("Total_Murder"),
    F.sum("Forcible_Rape").alias("Total_Forcible_Rape"),
    F.sum("Robbery").alias("Total_Robbery"),
    F.sum("Aggravated_assault").alias("Total_Aggravated_assault"),
    F.sum("Burglary").alias("Total_Burglary"),
    F.sum("Larceny_Theft").alias("Total_Larceny_Theft"),
    F.sum("Vehicle_Theft").alias("Total_Vehicle_Theft")
)

decade_summary.show()

+------+-------------+--------------+------------+-------------------+-------------+------------------------+--------------+-------------------+-------------------+
|Decade|Total_Violent|Total_Property|Total_Murder|Total_Forcible_Rape|Total_Robbery|Total_Aggravated_assault|Total_Burglary|Total_Larceny_Theft|Total_Vehicle_Theft|
+------+-------------+--------------+------------+-------------------+-------------+------------------------+--------------+-------------------+-------------------+
|  1990|     17527048|     119053499|      211664|             998827|      5748930|                10568963|      26750015|           77679366|           14624418|
|  1960|      4134930|      45160900|      106180|             236720|      1633510|                 2158520|      13321100|           26547700|            5292100|
|  1970|      9607930|      91383800|      192230|             554570|      4159020|                 4702120|      28486000|           53157800|            9739900|
|  1980|     14074328|     117048900|      206439|             865639|      5383109|                 7619130|      33073494|           72040253|           11935411|
|  2000|     13968056|     100944369|      163068|             922499|      4230366|                 8652124|      21565176|           67970291|           11412834|
|  2010|      6072017|      44095950|       72867|             421059|      1749809|                 3764142|      10125170|           30401698|            3569080|
+------+-------------+--------------+------------+-------------------+-------------+------------------------+--------------+-------------------+-------------------+

### Step 9. What is the most dangerous decade to live in the US?

In [13]:
decade_summary.orderBy(F.desc("Total_Violent")).show()

+------+-------------+--------------+------------+-------------------+-------------+------------------------+--------------+-------------------+-------------------+
|Decade|Total_Violent|Total_Property|Total_Murder|Total_Forcible_Rape|Total_Robbery|Total_Aggravated_assault|Total_Burglary|Total_Larceny_Theft|Total_Vehicle_Theft|
+------+-------------+--------------+------------+-------------------+-------------+------------------------+--------------+-------------------+-------------------+
|  1990|     17527048|     119053499|      211664|             998827|      5748930|                10568963|      26750015|           77679366|           14624418|
|  1980|     14074328|     117048900|      206439|             865639|      5383109|                 7619130|      33073494|           72040253|           11935411|
|  2000|     13968056|     100944369|      163068|             922499|      4230366|                 8652124|      21565176|           67970291|           11412834|
|  1970|      9607930|      91383800|      192230|             554570|      4159020|                 4702120|      28486000|           53157800|            9739900|
|  2010|      6072017|      44095950|       72867|             421059|      1749809|                 3764142|      10125170|           30401698|            3569080|
|  1960|      4134930|      45160900|      106180|             236720|      1633510|                 2158520|      13321100|           26547700|            5292100|
+------+-------------+--------------+------------+-------------------+-------------+------------------------+--------------+-------------------+-------------------+