In [ ]:
! pip install pyspark

In [ ]:
import time

In [ ]:
from pyspark.sql import SparkSession

In [ ]:
spark=SparkSession.builder.getOrCreate()

In [ ]:
df=spark.read.csv('Cost_of_Living_Index_by_Country_2024.csv',header=True,inferSchema=True,sep=',')

In [ ]:
new_df=df.repartition(4)

In [ ]:
new_df.write.option('header',True).mode('overwrite').csv('partition_1.csv')

In [ ]:
partiton_on_columns=df.repartition(4,'country')

In [ ]:
country_df=partiton_on_columns.write.option('header',True).mode('overwrite').csv('partition_2.csv')

In [ ]:
repartitioned_df = df.coalesce(1)

# Electric Vehicle data

In [ ]:
E_df=spark.read.csv('/content/Electric_Vehicle_Data.csv',header=True,inferSchema=True,sep=',')

In [ ]:
E_df.show()

In [ ]:
E_df.rdd.getNumPartitions()

In [ ]:
start_time=time.time()
without_partation=E_df.filter(E_df['County']=='King')
without_partation.show()
end_time=time.time()
process_time=end_time-start_time
print(process_time)

In [ ]:
E_df.repartition(8)

In [ ]:
start_time=time.time()
with_partation=E_df.filter(E_df['County']=='King')
with_partation.show()
end_time=time.time()
process_time=end_time-start_time
print(process_time)

In [ ]:
E_df.rdd.getNumPartitions()

In [ ]:
E_df.write.option('header',True).mode('overwrite') \
    .csv('partition_3.csv')

In [ ]:
coalesce_df=E_df.coalesce(1)

In [ ]:
coalesce_df.rdd.getNumPartitions()