In [ ]:
!sudo apt update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
#Check this site for the latest download link https://www.apache.org/dyn/closer.lua/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
!tar xf spark-3.2.1-bin-hadoop3.2.tgz
!pip install -q findspark
!pip install pyspark
!pip install py4j

import os
import sys
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"


import findspark
findspark.init()
findspark.find()

import pyspark

from pyspark.sql import DataFrame, SparkSession
from typing import List

import pyspark.sql.types as T
import pyspark.sql.functions as F

spark= SparkSession \
       .builder \
       .appName("Our First Spark Example") \
       .getOrCreate()

spark

# Ex - GroupBy

### Introduction:

GroupBy can be summarized as Split-Apply-Combine.

Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

Check out this [Diagram](http://i.imgur.com/yjNkiwL.png)  
### Step 1. Import the necessary libraries

In [ ]:
from pyspark import SparkFiles
url ="https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv"
spark.sparkContext.addFile(url)

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/drinks.csv).

### Step 3. Assign it to a variable called drinks.

In [ ]:
drinks = spark.read.csv(SparkFiles.get("drinks.csv"), header=True, inferSchema=True)
drinks.show()

### Step 4. Which continent drinks more beer on average?

In [ ]:
drinks.groupBy("continent").agg(F.avg("beer_servings").alias("avg_beer")).orderBy(F.desc("avg_beer")).show(1)

### Step 5. For each continent print the statistics for wine consumption.

In [ ]:
drinks.select("wine_servings").describe().show()

In [ ]:
drinks.groupBy("continent").agg(F.min("wine_servings"), F.max("wine_servings"), F.mean("wine_servings")).show()

### Step 6. Print the mean alcohol consumption per continent for every column

In [ ]:
drinks.groupBy("continent").agg(F.mean("total_litres_of_pure_alcohol")).show()

### Step 7. Print the median alcohol consumption per continent for every column

In [ ]:
drinks.groupBy("continent").agg(F.median("total_litres_of_pure_alcohol")).show()

### Step 8. Print the mean, min and max values for spirit consumption.
#### This time output a DataFrame

In [ ]:
result_df = drinks.agg(F.mean("spirit_servings").alias("mean"),
                       F.min("spirit_servings").alias("min"),
                       F.max("spirit_servings").alias("max"))
result_df.show()