# US - Baby Names

### Introduction:

We are going to use a subset of [US Baby Names](https://www.kaggle.com/kaggle/us-baby-names) from Kaggle.  
In the file it will be names from 2004 until 2014


### Step 1. Import the necessary libraries

In [1]:
! sudo apt update
! apt-get install openjdk-8-jdk-headless -qq > /dev/null
# Check this site for the latest download link https://www.apache.org/dyn/closer.lua/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
! wget -q https://dlcdn.apache.org/spark/spark-3.2.1/spark-3.2.1-bin-hadoop3.2.tgz
! tar xf spark-3.2.1-bin-hadoop3.2.tgz
! pip install -q findspark
! pip install pyspark
! pip install py4j

import os
import sys
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
# os.environ["SPARK_HOME"] = "/content/spark-3.2.1-bin-hadoop3.2"


import findspark
findspark.init()
findspark.find()

import pyspark

from pyspark.sql import DataFrame, SparkSession
from typing import List

import pyspark.sql.types as T
import pyspark.sql.functions as F

spark= SparkSession \
       .builder \
       .appName("Our First Spark Example") \
       .getOrCreate()

spark

Get:1 https://cloud.r-project.org/bin/linux/ubuntu jammy-cran40/ InRelease [3,626 B]
Hit:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu2204/x86_64  InRelease
Get:3 http://security.ubuntu.com/ubuntu jammy-security InRelease [129 kB]
Hit:4 http://archive.ubuntu.com/ubuntu jammy InRelease
Get:5 http://archive.ubuntu.com/ubuntu jammy-updates InRelease [128 kB]
Ign:6 https://r2u.stat.illinois.edu/ubuntu jammy InRelease
Get:7 https://r2u.stat.illinois.edu/ubuntu jammy Release [5,713 B]
Get:8 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy InRelease [18.1 kB]
Get:9 https://r2u.stat.illinois.edu/ubuntu jammy Release.gpg [793 B]
Hit:10 https://ppa.launchpadcontent.net/graphics-drivers/ppa/ubuntu jammy InRelease
Hit:11 https://ppa.launchpadcontent.net/ubuntugis/ppa/ubuntu jammy InRelease
Hit:12 http://archive.ubuntu.com/ubuntu jammy-backports InRelease
Get:13 http://security.ubuntu.com/ubuntu jammy-security/main amd64 Packages [2,173 kB]
Get:14 https://ppa.launchpadcontent.net/deadsnakes/ppa/ubuntu jammy/main amd64 Packages [27.8 kB]
Get:15 https://r2u.stat.illinois.edu/ubuntu jammy/main all Packages [8,218 kB]
Get:16 http://security.ubuntu.com/ubuntu jammy-security/universe amd64 Packages [1,134 kB]
Get:17 http://archive.ubuntu.com/ubuntu jammy-updates/main amd64 Packages [2,449 kB]
Get:18 http://archive.ubuntu.com/ubuntu jammy-updates/universe amd64 Packages [1,423 kB]
Get:19 https://r2u.stat.illinois.edu/ubuntu jammy/main amd64 Packages [2,553 kB]
Fetched 18.3 MB in 6s (2,815 kB/s)
Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
51 packages can be upgraded. Run 'apt list --upgradable' to see them.
W: Skipping acquire of configured file 'main/source/Sources' as repository 'https://r2u.stat.illinois.edu/ubuntu jammy InRelease' does not seem to provide it (sources.list entry misspelt?)
tar: spark-3.2.1-bin-hadoop3.2.tgz: Cannot open: No such file or directory
tar: Error is not recoverable: exiting now
Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 5.0 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=4432246af58aacad889b3e57418815378678624b1f28d4383b5fc211b7cbfb63
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2
Requirement already satisfied: py4j in /usr/local/lib/python3.10/dist-packages (0.10.9.7)

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/06_Stats/US_Baby_Names/US_Baby_Names_right.csv).

### Step 3. Assign it to a variable called baby_names.

In [2]:
df = spark.read.csv('US_Baby_Names_right.csv', header=True, inferSchema=True)
df.show()

+-----+-----+---------+----+------+-----+-----+
|  _c0|   Id|     Name|Year|Gender|State|Count|
+-----+-----+---------+----+------+-----+-----+
|11349|11350|     Emma|2004|     F|   AK|   62|
|11350|11351|  Madison|2004|     F|   AK|   48|
|11351|11352|   Hannah|2004|     F|   AK|   46|
|11352|11353|    Grace|2004|     F|   AK|   44|
|11353|11354|    Emily|2004|     F|   AK|   41|
|11354|11355|  Abigail|2004|     F|   AK|   37|
|11355|11356|   Olivia|2004|     F|   AK|   33|
|11356|11357| Isabella|2004|     F|   AK|   30|
|11357|11358|   Alyssa|2004|     F|   AK|   29|
|11358|11359|   Sophia|2004|     F|   AK|   28|
|11359|11360|   Alexis|2004|     F|   AK|   27|
|11360|11361|Elizabeth|2004|     F|   AK|   27|
|11361|11362|   Hailey|2004|     F|   AK|   27|
|11362|11363|     Anna|2004|     F|   AK|   26|
|11363|11364|  Natalie|2004|     F|   AK|   25|
|11364|11365|    Sarah|2004|     F|   AK|   25|
|11365|11366|   Sydney|2004|     F|   AK|   25|
|11366|11367|      Ava|2004|     F|   AK|   23|
|11367|11368|  Trinity|2004|     F|   AK|   22|
|11368|11369|    Haley|2004|     F|   AK|   21|
+-----+-----+---------+----+------+-----+-----+
only showing top 20 rows

### Step 4. See the first 10 entries

In [3]:
df.show(10)

+-----+-----+--------+----+------+-----+-----+
|  _c0|   Id|    Name|Year|Gender|State|Count|
+-----+-----+--------+----+------+-----+-----+
|11349|11350|    Emma|2004|     F|   AK|   62|
|11350|11351| Madison|2004|     F|   AK|   48|
|11351|11352|  Hannah|2004|     F|   AK|   46|
|11352|11353|   Grace|2004|     F|   AK|   44|
|11353|11354|   Emily|2004|     F|   AK|   41|
|11354|11355| Abigail|2004|     F|   AK|   37|
|11355|11356|  Olivia|2004|     F|   AK|   33|
|11356|11357|Isabella|2004|     F|   AK|   30|
|11357|11358|  Alyssa|2004|     F|   AK|   29|
|11358|11359|  Sophia|2004|     F|   AK|   28|
+-----+-----+--------+----+------+-----+-----+
only showing top 10 rows

### Step 5. Delete the column 'Unnamed: 0' and 'Id'

In [5]:
df = df.drop('_c0', 'Id')
df.show()

+---------+----+------+-----+-----+
|     Name|Year|Gender|State|Count|
+---------+----+------+-----+-----+
|     Emma|2004|     F|   AK|   62|
|  Madison|2004|     F|   AK|   48|
|   Hannah|2004|     F|   AK|   46|
|    Grace|2004|     F|   AK|   44|
|    Emily|2004|     F|   AK|   41|
|  Abigail|2004|     F|   AK|   37|
|   Olivia|2004|     F|   AK|   33|
| Isabella|2004|     F|   AK|   30|
|   Alyssa|2004|     F|   AK|   29|
|   Sophia|2004|     F|   AK|   28|
|   Alexis|2004|     F|   AK|   27|
|Elizabeth|2004|     F|   AK|   27|
|   Hailey|2004|     F|   AK|   27|
|     Anna|2004|     F|   AK|   26|
|  Natalie|2004|     F|   AK|   25|
|    Sarah|2004|     F|   AK|   25|
|   Sydney|2004|     F|   AK|   25|
|      Ava|2004|     F|   AK|   23|
|  Trinity|2004|     F|   AK|   22|
|    Haley|2004|     F|   AK|   21|
+---------+----+------+-----+-----+
only showing top 20 rows

### Step 6. Is there more male or female names in the dataset?

In [6]:
df.groupBy('Gender').count().show()

+------+------+
|Gender| count|
+------+------+
|     F|558846|
|     M|457549|
+------+------+

### Step 7. Group the dataset by name and assign to names

In [7]:
df.createOrReplaceTempView("baby_names")

In [8]:
baby_names = spark.sql("SELECT Name, SUM(Count) AS Count FROM baby_names GROUP BY Name")
baby_names.show()

+--------+------+
|    Name| Count|
+--------+------+
|   Kiana|  5965|
|  Alayna| 14171|
|   Ember|  3181|
|   Tyler|129989|
|  Maddox| 20716|
|  Kellen|  6989|
|  Heaven| 12277|
|Julianne|  3465|
| Susanna|  1250|
|  Kenlee|   578|
|    Kloe|  1359|
|   Anyah|   472|
|   Tegan|  2721|
| Jazzlyn|  1173|
|Brileigh|   130|
|Analeigh|   505|
|Kamarion|  1030|
|   Aryan|  3322|
| Galilea|  2641|
|    Faye|  1211|
+--------+------+
only showing top 20 rows

### Step 8. How many different names exist in the dataset?

In [9]:
baby_names.count()

17632

### Step 9. What is the name with most occurrences?

In [10]:
baby_names.orderBy(F.desc('Count')).show(1)

+-----+------+
| Name| Count|
+-----+------+
|Jacob|242874|
+-----+------+
only showing top 1 row

### Step 10. How many different names have the least occurrences?

In [11]:
df.groupBy('Name').count().filter(F.col('count') == 1).count()

3682

### Step 11. What is the median name occurrence?

In [12]:
df.groupBy('Name').count().approxQuantile('count', [0.5], 0)[0]

8.0

### Step 12. What is the standard deviation of names?

In [13]:
df.groupBy('Name').count().agg(F.stddev('count')).show()

+------------------+
|     stddev(count)|
+------------------+
|122.02996350813885|
+------------------+

### Step 13. Get a summary with the mean, min, max, std and quartiles.

In [14]:
df.describe().show()

+-------+--------+------------------+-------+-------+-----------------+
|summary|    Name|              Year| Gender|  State|            Count|
+-------+--------+------------------+-------+-------+-----------------+
|  count| 1016395|           1016395|1016395|1016395|          1016395|
|   mean|Infinity|2009.0531899507573|   NULL|   NULL|34.85012421351935|
| stddev|    NULL|3.1382928281812377|   NULL|   NULL|97.39734648617687|
|    min|   Aaban|              2004|      F|     AK|                5|
|    max|  Zyriah|              2014|      M|     WY|             4167|
+-------+--------+------------------+-------+-------+-----------------+