In [20]:
! pip install pandas
! pip install openpyxl

Requirement already satisfied: pandas in /home/user/Python_Training/.venv/lib/python3.11/site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /home/user/Python_Training/.venv/lib/python3.11/site-packages (from pandas) (2.0.0)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/user/Python_Training/.venv/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/user/Python_Training/.venv/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/user/Python_Training/.venv/lib/python3.11/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /home/user/Python_Training/.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: openpyxl in /home/user/Python_Training/.venv/lib/python3.11/site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in /home/user/Python_Training/.venv/lib/python3.11/site-packages (from openpyxl) (1.1.0)

In [48]:
import pandas as pd

In [49]:
df = pd.read_excel("Training_CTR_Report2024.xlsx")
df

,S.No,Emp ID,Name,EmailID,Grade,Resource Type,Training Stack,Training Name,Purpose to attend training,Training Duration(Days),...,Training End Date,Current Skills,Upgraded Skills,Pre Assessment score,Final Score,Current Allocation,Project,Current location,Status,Feedback /Remarks
0,1,1014181,Mohd Manazir,mohd.manazir@yash.com,E2,Permanent,"Rest,Microservice,Docker,kubernetes,kafka","BG4-BU5-Java-Merck(Rest,Microservice,Docker,ku...",Client specific training,20,...,2024-07-30,Java,NaN,NaN,NaN,Full Billable,Merck -Staff Aug-BG4-BU4,Bangalore-BHIVE-DC (303),In Progress,NaN
1,2,1015340,Akash Sahadev Nandurkar,akash.nandurkar@yash.com,E1,Permanent,"Rest,Microservice,Docker,kubernetes,kafka","BG4-BU5-Java-Merck(Rest,Microservice,Docker,ku...",Client specific training,20,...,2024-07-30,Java,NaN,NaN,NaN,Full Billable,Merck -Staff Aug-BG4-BU4,Pune-Hinjewadi III-DC (404),In Progress,NaN
2,3,1015860,Paritosh Dimri,paritosh.dimri@yash.com,E2,Permanent,"Rest,Microservice,Docker,kubernetes,kafka","BG4-BU5-Java-Merck(Rest,Microservice,Docker,ku...",Client specific training,20,...,2024-07-30,Java,NaN,NaN,NaN,Full Billable,Merck -Staff Aug-BG4-BU4,Bangalore-BHIVE-DC (303),In Progress,NaN
3,4,1009383,Krishnakant Bairagi,krishnakant.bairagi@yash.com,E3,Permanent,Junit,"BG4-BU5-Java-Upscaling-(Java8,Junit, SpringBoo...",Upskilling,18,...,2024-07-17,Java,NaN,NaN,NaN,Non Billable Pool,BG4-BU5-Java-Internal Project-YOTA-2023,Indore-Crystal IT Park-DC (102),In Progress,NaN
4,5,1012704,Amol Shivaji Palve,amol.palve@yash.com,E2,Permanent,Junit,"BG4-BU5-Java-Upscaling-(Java8,Junit, SpringBoo...",Upskilling,18,...,2024-07-17,Java,NaN,NaN,NaN,Non Billable Pool,BG4-BU5-Java-Internal Project-YTMS-2023,Pune-Magarpatta-DC-II (405),In Progress,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
147,264,1100298,Mayur Madhukar Karmude,mayur.karmude@yash.com,E1,Permanent,Java+React,1218_CE_JavaBasics_Dec23,Upscaling the resources,86,...,2024-04-26,Java,Fullstack(Java + React),0.0,0.0,Non Billable Pool,BG4-BU5-Java-Internal Project-YOTA-2023,Pune-Magarpatta-DC-II (405),Completed,NaN
148,265,1100299,Charusheela Subhash Chavan,charusheela.chavan@yash.com,E1,Permanent,Java+React,1218_CE_JavaBasics_Dec23,Upscaling the resources,86,...,2024-04-26,Java,Fullstack(Java + React),0.0,0.0,Non Billable Pool,BG4-BU5-Java-Internal Project-YOTA-2023,Pune-Magarpatta-DC-II (405),Completed,NaN
149,266,1100314,Varsha Chandrakant Aherkar,varsha.aherkar@yash.com,E1,Permanent,Java+React,1218_CE_JavaBasics_Dec23,Upscaling the resources,86,...,2024-04-26,Java,Fullstack(Java + React),0.0,0.0,Non Billable Pool,BG4-BU5-Java-Shared-Pool,Pune-Magarpatta-DC-II (405),Completed,NaN
150,267,1100319,Shivdarshan Vishnukant Landge,shivdarshan.landge@yash.com,E1,Permanent,Java+React,1218_CE_JavaBasics_Dec23,Upscaling the resources,86,...,2024-04-26,Java,Fullstack(Java + React),0.0,0.0,Non Billable Pool,BG4-BU5-Java-Shared-Pool,Pune-Magarpatta-DC-II (405),Completed,NaN
151,268,1100332,Mahesh Tukaram Surnar,mahesh.surnar@yash.com,E1,Permanent,Java+React,1218_CE_JavaBasics_Dec23,Upscaling the resources,86,...,2024-04-26,Java,Fullstack(Java + React),0.0,0.0,Non Billable Pool,BG4-BU5-Java-Shared-Pool,Pune-Magarpatta-DC-II (405),Completed,NaN

In [50]:
def convert_date_columns(df, date_columns):
    for col in date_columns:
        df[col] = pd.to_datetime(df[col], format='%d-%b-%y')
    return df

In [51]:
date_columns = ['Training Start Date', 'Training End Date']
df = convert_date_columns(df, date_columns)
df[['Training Start Date', 'Training End Date']]

    Training Start Date Training End Date
0            2024-07-03        2024-07-30
1            2024-07-03        2024-07-30
2            2024-07-03        2024-07-30
3            2024-06-24        2024-07-17
4            2024-06-24        2024-07-17
..                  ...               ...
147          2023-12-18        2024-04-26
148          2023-12-18        2024-04-26
149          2023-12-18        2024-04-26
150          2023-12-18        2024-04-26
151          2023-12-18        2024-04-26

[152 rows x 2 columns]

In [25]:
def convert_to_lst(row):
    print(row)
    if ',' in row:
        return row.lower().replace(" ",'').split(',')
    elif "+" in row:
        return row.lower().replace(" ",'').split('+')
    elif '(' in row:
        return row.lower().replace(" ",'').split('(')[0].split(',')
    elif '-' in row:
        return row.lower().replace(" ",'').split('-')
    elif ")" in row:
        return row.lower().replace(" ",'').split(')')[0].split(',')
    else:
        return [row.lower().replace(" ",'')]

In [26]:
df['Training Stack'] = df['Training Stack'].apply(convert_to_lst)

Rest,Microservice,Docker,kubernetes,kafka
Rest,Microservice,Docker,kubernetes,kafka
Rest,Microservice,Docker,kubernetes,kafka
Junit
Junit
Junit
Junit
Junit
Angular
Angular
Angular
Angular
Angular
Angular
React
React
React
React
React
React
React
React
React
React
React
React
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
Java
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
JunitMockito
JunitMockito
JunitMockito
JunitMockito
JunitMockito
JunitMockito
JunitMockito
JunitMockito
JunitMockito
JunitMockito
JunitMockito
JunitMockito
JunitMockito
JunitMockito
ORACLE
ORACLE
ORACLE
Typescript
Typescript
Typescript
React
React
React
React
React
React
React
React
React
React
React
React
React
React
React
React
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
AWS
Angular
Angular
Angular
Angular
Angular
Angular
Angular
Angular
Angular
Angular
Angular
Angular
Angular
Angular
Java+React
Java+React
Java+React
Java+React
Java+React
Java+React
Java+React
Java+React
Java+React
Java+React
Java+React
Java+React
Java+React

In [27]:
df['Current Skills'] = df['Current Skills'].apply(convert_to_lst)

Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Microsoft
Microsoft
Microsoft
Microsoft
Microsoft
Legacy
Management
Java
Microsoft
Microsoft
Java
Legacy
Java
Java
Java
Management
Java
Java
Java
Java
Java
Java
Java
Java
Oracle
Java
Java
Java
Java
Data & Analytics
DevOps
Data & Analytics
Java
Java
Java + Angular
Java (Backend)
Java (Backend)
Java (Backend)
Java + Angular
Java + Angular
Java + Angular
Java + Angular
Java + Angular
Java (Backend)
Java + AWS
Java (Backend)
Java + Angular
Java (Backend)
.Net
.Net
.Net
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Python
Java
Java
Java
Java
Python
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java
Java

In [28]:
df[['Training Stack', 'Current Skills']]

                                      Training Stack Current Skills
0    [rest, microservice, docker, kubernetes, kafka]         [java]
1    [rest, microservice, docker, kubernetes, kafka]         [java]
2    [rest, microservice, docker, kubernetes, kafka]         [java]
3                                            [junit]         [java]
4                                            [junit]         [java]
..                                               ...            ...
147                                    [java, react]         [java]
148                                    [java, react]         [java]
149                                    [java, react]         [java]
150                                    [java, react]         [java]
151                                    [java, react]         [java]

[152 rows x 2 columns]

In [29]:
df.to_csv('cleaned_data.csv')

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 21 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   S.No                        152 non-null    int64
 1   Emp ID                      152 non-null    int64
 2   Name                        152 non-null    object
 3   EmailID                     152 non-null    object
 4   Grade                       152 non-null    object
 5   Resource Type               152 non-null    object
 6   Training Stack              152 non-null    object
 7   Training Name               152 non-null    object
 8   Purpose to attend training  152 non-null    object
 9   Training Duration(Days)     152 non-null    int64
 10  Training Start Date         152 non-null    datetime64[ns]
 11  Training End Date           152 non-null    datetime64[ns]
 12  Current Skills              152 non-null    object
 13  Upgraded Skills             112 non-null    object
 14  Pre Assessment score        13 non-null     float64
 15  Final Score                 13 non-null     float64
 16  Current Allocation          152 non-null    object
 17  Project                     152 non-null    object
 18  Current location            152 non-null    object
 19  Status                      152 non-null    object
 20  Feedback /Remarks           49 non-null     object
dtypes: datetime64[ns](2), float64(2), int64(3), object(14)
memory usage: 25.1+ KB

In [45]:
df['Upgraded Skills'] = list(df['Upgraded Skills'])
df['Upgraded Skills']

0                          NaN
1                          NaN
2                          NaN
3                          NaN
4                          NaN
                ...
147    Fullstack(Java + React)
148    Fullstack(Java + React)
149    Fullstack(Java + React)
150    Fullstack(Java + React)
151    Fullstack(Java + React)
Name: Upgraded Skills, Length: 152, dtype: object

In [46]:
df.to_csv('cleaned_data.csv')

In [58]:
def extract_skills(row):
    skills = set()
    if pd.notna(row['Current Skills']):
        skills.update(row['Current Skills'].split(','))
    if pd.notna(row['Training Stack']):
        skills.update(row['Training Stack'].split(','))
    if pd.notna(row['Upgraded Skills']):
        skills.update(row['Upgraded Skills'].split(','))
    return list(skills)

temp_skills = []
# Apply the function to each row and store unique skills in a set
unique_skills_set = set()
for index, row in df.iterrows():
    unique_skills_set.update(extract_skills(row))
    temp_skills.append(list(unique_skills_set))

df['All Skills'] = pd.Series(temp_skills)
df['All Skills']

0      [Docker, kubernetes, Rest, Microservice, Java,...
1      [Docker, kubernetes, Rest, Microservice, Java,...
2      [Docker, kubernetes, Rest, Microservice, Java,...
3      [Docker, kubernetes, Rest, Microservice, Junit...
4      [Docker, kubernetes, Rest, Microservice, Junit...
                             ...
147    [Microsoft, JunitMockito, Angular, Typescript,...
148    [Microsoft, JunitMockito, Angular, Typescript,...
149    [Microsoft, JunitMockito, Angular, Typescript,...
150    [Microsoft, JunitMockito, Angular, Typescript,...
151    [Microsoft, JunitMockito, Angular, Typescript,...
Name: All Skills, Length: 152, dtype: object

In [59]:
df.to_csv('cleaned_data.csv')