# Excercise:

In [1]:
! pip install pandas
! pip install sqlalchemy

Requirement already satisfied: pandas in d:\python_training\m-07(july)\week-12\.venv\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in d:\python_training\m-07(july)\week-12\.venv\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\python_training\m-07(july)\week-12\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\python_training\m-07(july)\week-12\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\python_training\m-07(july)\week-12\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in d:\python_training\m-07(july)\week-12\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: sqlalchemy in d:\python_training\m-07(july)\week-12\.venv\lib\site-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\python_training\m-07(july)\week-12\.venv\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in d:\python_training\m-07(july)\week-12\.venv\lib\site-packages (from sqlalchemy) (3.0.3)

## Query HR Database in Python and get the desired result set and save it in new table in DB

In [13]:
import pandas as pd
from sqlalchemy import create_engine

username = 'root'
password = 'root'
host = 'localhost'
database = 'hr'
connection_string = f"mysql+pymysql://{username}:{password}@{host}/{database}"

engine = create_engine(connection_string)
query = "SELECT * FROM employees"

df = pd.read_sql_query(query, engine)

### Provide the names of all the employees whose salary is less than 6000

In [14]:
query = "SELECT first_name, last_name FROM employees WHERE salary < 6000;"

df = pd.read_sql_query(query, engine)
df.to_sql(name='less_than_6000', con=engine, if_exists='replace', index=False)

50

### Findthe number of IT-Programmers whose salary is greater than 5000.

In [15]:
query = "SELECT COUNT(*) FROM employees WHERE job_id = 'IT_PROG' AND salary > 5000"

df = pd.read_sql_query(query, engine)
df.to_sql(name='greater_than_500_itprog', con=engine, if_exists='replace', index=False)

1

### Increase the salary of employees whose annualy salary is between 16000 and 25000 by 50%.

In [16]:
from sqlalchemy import text

query = text("UPDATE employees SET salary = salary * 1.5 WHERE salary BETWEEN 16000 AND 25000")
with engine.connect() as conn:
    conn.execute(query)

### Provide thefullname of employees who donâ€™t get comission.

In [18]:
query = "SELECT first_name, last_name FROM employees WHERE commission_pct IS NULL"

df = pd.read_sql_query(query, engine)
df.to_sql(name='dont_get_commission', con=engine, if_exists='replace', index=False)

72

### Analyze the salary vs experience level.

In [21]:
query = """SELECT 
  TIMESTAMPDIFF(YEAR, hire_date, CURRENT_DATE) AS experience_level,
  AVG(salary) AS average_salary
FROM 
  employees
GROUP BY 
  TIMESTAMPDIFF(YEAR, hire_date, CURRENT_DATE)
ORDER BY 
  experience_level;"""

df = pd.read_sql_query(query, engine)
df.to_sql(name='sal_vs_exp', con=engine, if_exists='replace', index=False)

12