In [35]:
! pip install mysql
! pip install mysql-connector-python

Requirement already satisfied: mysql in d:\python_training\m-07(july)\week-12\.venv\lib\site-packages (0.0.3)
Requirement already satisfied: mysqlclient in d:\python_training\m-07(july)\week-12\.venv\lib\site-packages (from mysql) (2.2.4)
Requirement already satisfied: mysql-connector-python in d:\python_training\m-07(july)\week-12\.venv\lib\site-packages (9.0.0)

In [36]:
! pip install pymysql
! pip install sqlalchemy

Requirement already satisfied: pymysql in d:\python_training\m-07(july)\week-12\.venv\lib\site-packages (1.1.1)
Requirement already satisfied: sqlalchemy in d:\python_training\m-07(july)\week-12\.venv\lib\site-packages (2.0.31)
Requirement already satisfied: typing-extensions>=4.6.0 in d:\python_training\m-07(july)\week-12\.venv\lib\site-packages (from sqlalchemy) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in d:\python_training\m-07(july)\week-12\.venv\lib\site-packages (from sqlalchemy) (3.0.3)

In [37]:
import mysql.connector as mcon

In [38]:
! pip install pandas

Requirement already satisfied: pandas in d:\python_training\m-07(july)\week-12\.venv\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in d:\python_training\m-07(july)\week-12\.venv\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in d:\python_training\m-07(july)\week-12\.venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in d:\python_training\m-07(july)\week-12\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in d:\python_training\m-07(july)\week-12\.venv\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in d:\python_training\m-07(july)\week-12\.venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [39]:
import pandas as pd

In [40]:
from sqlalchemy import create_engine

In [41]:
import pymysql

In [42]:
from pymysql.cursors import DictCursor

In [43]:
def get_db_connection():
    """
    Establishes and returns a connection to the MySQL database.

    :return: Connection object to the MySQL database.
    """
    connection = pymysql.connect(
        host='localhost',
        user='root',
        password='root',
        database='etl_demo',
        cursorclass=DictCursor
    )
    return connection

In [44]:
def create_db():
    """
    Creates the database if it does not exist.
    """
    connection = pymysql.connect(
        host='localhost',
        user='root',
        password='root'
    )
    try:
        with connection.cursor() as cursor:
            cursor.execute("""
                        CREATE DATABASE IF NOT EXISTS etl_demo
                        """)
        connection.commit()
    finally:
        connection.close()

In [45]:
def initialize_db():
    """
    Initializes the database by creating the necessary tables if they do not exist.
    """
    create_db()  # Create the database first
    connection = get_db_connection()
    try:
        with connection.cursor() as cursor:
            # Create accounts table
            cursor.execute("""create table if not exists etl_demo.etl_table(id int primary key, name varchar(50), data varchar(255))
            """)
        connection.commit()
    finally:
        connection.close()

In [46]:
create_db()

In [47]:
initialize_db()

In [48]:
conn = get_db_connection()

In [49]:
with conn.cursor() as cursor:
    cursor.execute("drop table if exists etl_demo.etl_table")

In [50]:
with conn.cursor() as cursor:
    cursor.execute("""create table etl_demo.etl_table(id int primary key, name varchar(50), data varchar(255))
            """)
    conn.commit()
    cursor.execute("INSERT INTO etl_demo.etl_table (id, name, data) VALUES (%s, %s, %s)", (1, 'John Doe', 'Some data'))
    cursor.execute("INSERT INTO etl_demo.etl_table (id, name, data) VALUES (%s, %s, %s)", (2, 'Jane Doe', 'Another data'))
    cursor.execute("INSERT INTO etl_demo.etl_table (id, name, data) VALUES (%s, %s, %s)", (3, 'Willy Doe', 'Something data'))
    conn.commit()

In [60]:
with conn.cursor() as cursor:
    cursor.execute("SELECT * FROM etl_demo.etl_table")
    rows = cursor.fetchall()
    for row in rows:
        print(row)

{'id': 1, 'name': 'John Doe', 'data': 'Some data'}
{'id': 2, 'name': 'Jane Doe', 'data': 'Another data'}
{'id': 3, 'name': 'Willy Doe', 'data': 'Something data'}

In [63]:
df = pd.DataFrame(rows)

In [64]:
df

   id       name            data
0   1   John Doe       Some data
1   2   Jane Doe    Another data
2   3  Willy Doe  Something data